
    :root {
      --bcolor: #ffc600;
      --spacing: 10px;
      --blur: 10px;
    }

    img {
      padding: var(--spacing);
      background: var(--bcolor);
      filter: blur(var(--blur));
    }

    .h {
      color: var(--bcolor);
    }

    

    body {
      text-align: center;
      background: #2b4919;
      color: white;
     
      font-size: 50px;

    }

    .controls {
      margin-bottom: 80px;
      margin-top: 30px;
    }

    input {
      width: 100px;
     
    }